<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TWalks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D423676C1C0F7A91005C9F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42367821C0F7A92005C9F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D423678D1C0F7A92005C9F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
